-- =============================================
-- TRM Rent Car — Maintenance Module Tables
-- Author: Antigravity
-- =============================================

-- 1. EXTEND VEHICLES TABLE
-- Adding mileage-specific tracking fields to the main vehicles table
ALTER TABLE public.vehicles ADD COLUMN IF NOT EXISTS last_oil_change_mileage INTEGER DEFAULT 0;
ALTER TABLE public.vehicles ADD COLUMN IF NOT EXISTS next_oil_change_mileage INTEGER DEFAULT 0;
ALTER TABLE public.vehicles ADD COLUMN IF NOT EXISTS last_service_mileage INTEGER DEFAULT 0;
ALTER TABLE public.vehicles ADD COLUMN IF NOT EXISTS next_service_mileage INTEGER DEFAULT 0;

-- 2. MAINTENANCE RECORDS TABLE
-- Stores full history of interventions (digital service book)
CREATE TABLE IF NOT EXISTS public.vehicle_maintenance_records (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    vehicle_id UUID REFERENCES public.vehicles(id) ON DELETE CASCADE,
    maintenance_type TEXT NOT NULL,         -- Vidange, Pneus, Freins, etc.
    status TEXT DEFAULT 'Planifié',          -- Planifié, En cours, Terminé, Annulé
    
    -- Schedule
    last_service_date DATE NOT NULL,
    last_service_mileage INTEGER,
    next_service_date DATE,
    next_service_mileage INTEGER,
    
    -- Financial
    estimated_cost DECIMAL(10,2) DEFAULT 0,
    actual_cost DECIMAL(10,2) DEFAULT 0,
    
    -- Provider & Details
    vendor_name TEXT,
    notes TEXT,
    
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 3. MILEAGE LOGS TABLE
-- Tracks history of odometer readings over time
CREATE TABLE IF NOT EXISTS public.vehicle_mileage_logs (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    vehicle_id UUID REFERENCES public.vehicles(id) ON DELETE CASCADE,
    mileage_value INTEGER NOT NULL,
    recorded_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    recorded_by UUID REFERENCES auth.users(id) ON DELETE SET NULL,
    notes TEXT
);

-- 4. MAINTENANCE ALERTS TABLE
-- Stores pre-calculated alerts based on mileage/date thresholds
CREATE TABLE IF NOT EXISTS public.maintenance_alerts (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    vehicle_id UUID REFERENCES public.vehicles(id) ON DELETE CASCADE,
    maintenance_record_id UUID REFERENCES public.vehicle_maintenance_records(id) ON DELETE CASCADE,
    alert_type TEXT NOT NULL,               -- Kilométrage, Date, Document
    alert_message TEXT NOT NULL,
    priority TEXT DEFAULT 'low',            -- low, medium, high, urgent
    status TEXT DEFAULT 'active',           -- active, resolved
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 5. ROW LEVEL SECURITY (RLS)
ALTER TABLE public.vehicle_maintenance_records ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.vehicle_mileage_logs ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.maintenance_alerts ENABLE ROW LEVEL SECURITY;

-- 6. PERMISSIONS POLICIES
-- Only admins and super_admins can manage technical data
DO $$ 
BEGIN
    -- DROP EXISTING IF RE-RUNNING
    DROP POLICY IF EXISTS "Admins can manage maintenance records" ON public.vehicle_maintenance_records;
    DROP POLICY IF EXISTS "Admins can manage mileage logs" ON public.vehicle_mileage_logs;
    DROP POLICY IF EXISTS "Admins can manage alerts" ON public.maintenance_alerts;

    -- CREATE POLICIES
    CREATE POLICY "Admins can manage maintenance records" ON public.vehicle_maintenance_records
        FOR ALL TO authenticated USING (
            EXISTS (SELECT 1 FROM public.profiles WHERE profiles.id = auth.uid() AND profiles.role IN ('admin', 'super_admin'))
        );

    CREATE POLICY "Admins can manage mileage logs" ON public.vehicle_mileage_logs
        FOR ALL TO authenticated USING (
            EXISTS (SELECT 1 FROM public.profiles WHERE profiles.id = auth.uid() AND profiles.role IN ('admin', 'super_admin'))
        );

    CREATE POLICY "Admins can manage alerts" ON public.maintenance_alerts
        FOR ALL TO authenticated USING (
            EXISTS (SELECT 1 FROM public.profiles WHERE profiles.id = auth.uid() AND profiles.role IN ('admin', 'super_admin'))
        );
END $$;

-- 7. INDEXES FOR PERFORMANCE
CREATE INDEX IF NOT EXISTS idx_maint_vehicle ON public.vehicle_maintenance_records(vehicle_id);
CREATE INDEX IF NOT EXISTS idx_maint_date ON public.vehicle_maintenance_records(last_service_date);
CREATE INDEX IF NOT EXISTS idx_mileage_vehicle ON public.vehicle_mileage_logs(vehicle_id);
CREATE INDEX IF NOT EXISTS idx_alerts_vehicle ON public.maintenance_alerts(vehicle_id);
CREATE INDEX IF NOT EXISTS idx_alerts_status ON public.maintenance_alerts(status);
